source: .
collections_config:
  pages:
    path: ''
    icon: wysiwyg
    disable_url: false
    disable_add: false
    disable_add_folder: false
    disable_file_actions: false
  data:
    path: data
    icon: data_usage
    disable_url: true
    disable_add: true
    disable_add_folder: true
    disable_file_actions: true
  admin:
    path: admin
    icon: ad
    disable_url: false
    disable_add: false
    disable_add_folder: false
    disable_file_actions: false
_inputs:
  hero_title:
    type: html
    cascade: true
  vision_text:
    type: markdown
    cascade: true
data_config:
  homepage:
    path: data/content.json
timezone: Etc/UTC
output: .
