source: .
output: .

# Lie l'éditeur à vos données GSF
data_config:
  homepage:
    path: data/content.json

# Permet de modifier les textes facilement
_inputs:
  hero_title:
    type: html
  vision_text:
    type: markdown
