collections_config:
  pages:
    path: ''
    icon: wysiwyg
    disable_url: false
    disable_add: false
    disable_add_folder: false
    disable_file_actions: false
  posts:
    path: data/content.json
    parser: json
    output: true
    _inputs:
      $.blog_posts[*].title:
        cascade: true
      $.blog_posts[*].body:
        type: markdown
        cascade: true
        options:
          format: p h2 h3 # Cela force l'affichage du menu Paragraph, Heading 2, Heading 3
          headings: [2, 3]
          bold: true
          italic: true
          bulletlist: true
          link: true
          image: true
  admin:
    path: admin
    icon: ad
    disable_url: false
    disable_add: false
    disable_add_folder: false
    disable_file_actions: false
_inputs:
  hero_title:
    type: html
    cascade: true
  vision_text:
    type: markdown
    cascade: true
  body:
    type: markdown
    comment: "Structurez votre article avec des titres H2/H3 et des listes pour le SEO."
    options:
      bold: true
      italic: true
      strike: false
      blockquote: true
      code: true
      link: true
      bulletlist: true
      orderedlist: true
      headings: [2, 3]
      image: true
  excerpt:
    type: textarea
    comment: "Bref résumé de l'article pour la page d'accueil (160 caractères max)."
data_config:
  homepage:
    path: data/content.json
timezone: Etc/UTC
output: .
